{% extends "base.html" %}
{% block content %}
<main>
    <section class="card">
        <h1>New Appointment</h1>
        <section class="card-content">
            <form action="/appointments" method="POST" class="new-edit-form">
                <label for="">Animal Name:</label>
                <select name="animal_id" class="new-edit-form-element">
                    {% for animal in animals %}
                    <option value="{{ animal.id }}">{{ animal.name }}</option>
                    {% endfor %}
                </select>
                <label for="">Check-in:</label>
                <label for="">Check-out:</label>
            </form>
        </section>
        <nav class="card-nav">
            <form action="/appointments/">
                <input type="submit" value="Back" class="link-button">
            </form>
        </nav>
    </section>
</main>
{% endblock %}