{% extends 'base.html' %}
{% block content %}
<article>
    <h2>{{ vet.name }}</h2>
    <h3>Patients:</h3>
    <ul>
        {% for animal in animals %}
        <li><a href="/animals/{{ animal.id }}">{{animal.name}}</a></li>
        {% endfor %}
    </ul>
</article>
<br>
<nav>
    <a href="/vets">Back</a>
    <a href="/vets/{{vet.id }}/edit">Edit</a>
    <br>
    <form action="/vets/{{ vet.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form> 
    </ul>

</nav>

{% endblock %}