{% extends 'base.html' %}
{% block content %}
<main>
    <section class="card">
        <h1>Animals</h1>
        <section class="card-content">
            <ul>
                {% for animal in all_animals %}
                <li>
                    <a href="/animals/{{ animal.id }}">{{ animal.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <nav class="card-nav">
            <form action="/animals/new" id="add-new-button">
                <input type="submit" value="Add Animal" class="link-button">
            </form>
            <form action="/appointments/checked-in">
                <input type="submit" value="Checked In" class="link-button">
            </form>
        </nav>
    </section>
</main>
{% endblock %}