{% extends 'base.html' %}
{% block content %}
<main>
    <section class="card">
        <h1><a href="/animals">Animals</a></h1>
        <section class="card-content">
            <h1>{{ animal.name }}</h1>
            <h3><b>Date of Birth:</b> {{ animal.date_of_birth }}</h3>
            <h3><b>Type:</b> {{ animal.type }}</h3>
            <h3><b>Onwer:</b> <a href="/owners/{{ animal.owner.id }}">{{ animal.owner.name }}</a></h3>
            <h3><b>Vet:</b> <a href="/vets/{{ animal.vet.id }}">{{ animal.vet.name }}</a></h3>
            <h3>Treatment Notes</h3>
            <section>
                <ul id="treatment-notes">
                    {% for note in notes %}
                    <li>{{ note.content }}</li>
                    {% endfor %}
                </ul>
                <form action="/notes" method="POST">
                    <input value="{{ animal.id }}" name="animal_id" hidden>
                    <input type="text" name="content">
                    <input type="submit">
                </form>
            </section>
        </section>
        <br>
        <nav class="card-nav">
            <form action="/animals/{{animal.id }}/edit">
                <input type="submit" value="Edit" class="link-button">
            </form>
            <form action="/animals/{{ animal.id }}/delete" method="POST">
                <input type="submit" value="Delete" class="link-button">
            </form>
        </nav>
    </section>
</main>
{% endblock %}