{% extends 'base.html' %}
{% block content %}

        <section>
            <h1>Edit Owner </h1>
            <form action="/owners/{{ owner.id }}" method="POST" id="owner-form">
                <section class="form-items">
                    <label for="owner-name"> Name</label>
                    <input type="text" name='name' id="vet-name" value="{{ owner.name }}">
                    <label for="owner-contacts">Contact Details</label>
                    <input type="text" name="contact-details" id="owner-contacts" value="{{ owner.contact_details }}">
                    <br>
                    <input id='submit-button' type="submit" value="Save changes">
                    <br>
                    <a href="/owners/{{owner.id}}">Back</a>
                </section>
            </form>
            
        </section>

{% endblock %}