{% extends "base.html" %}
{% block content %}
<main>
    <section id="home-card-container">
        <section class="card home-card">
            <h1><a href="/vets">Vets</a></h1>
        </section>
        <section class="card home-card">
            <h1><a href="/owners">Owners</a></h1>
        </section>
        <section class="card home-card">
            <h1><a href="/animals">Animals</a></h1>
        </section>
        <section class="card home-card">
            <h1><a href="/appointments">Appointments</a></h1>
        </section>
    </section>
    <h1></h1>
</main>
{% endblock %}